main {
  background-color: white;
  color: black;
  --a4width: 210mm;
  --a4height: 297mm;
}

.doc-container {
  width: var(--a4width);
  height: var(--a4height);
  margin: calc(50vw - 105mm);
  border: solid black 2pt;
  overflow-y: auto;
}

.header {
  font-size: 27;
}

.title {
  font-size: 34;
  text-align: center;
  font-weight: bold;
}

table {
  font-size: 17;
  border-collapse: collapse;
  border: solid 2pt;
  align: center;
  width: calc(var(--a4width) * 0.9);
  margin-left: calc(var(--a4width) * 0.05);
  margin-right: calc(var(--a4width) * 0.05);
}

table th, td {
  border: solid 2pt;
  padding: 2px;
  height: 20px;
}

