* {
  background-color: white;
  color: black;
}

.header {
  font-size: 27;
}

.title {
  font-size: 34;
  text-align: center;
  font-weight: bold;
}

table {
  font-size: 17;
  border-collapse: collapse;
  border: solid 2pt;
  align: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

table th, td {
  border: solid 2pt;
  padding: 2px;
  height: 20px;
}

#Edit {
  background-color: darkblue;
  color: white;
}

#Edit .edit {
  background-color: olive;
}

